/**
 * Styles for Shortcode Exec PHP WordPress Plugin
 *
 * @package WordPress
 * @subpackage Shortcode_Exec_PHP
 * @since 1.53
 */

/* Admin panel */
#scep-admin-panel {
	float: left;
}

/* Resources info panel */
#scep-resources-panel {
	background-color: #fffeeb;
	border: 1px solid #ccc;
	float: right;
	margin-top: 30px;
	padding: 10px;
	width: 180px;
}

/* Heading info panel */
#scep-resources-panel h3 {
	margin: 0.5em 0 1em;
}

/* Donate form info panel */
#scep-resources-panel form {
	margin: 1em 0 0.5em;
}

/* Shortcuts */
#scep-shortcuts {
	display: block;
	margin: 20px 0 0;
}

/* Option titles */
#scep-option-table th {
	padding: 0;
	vertical-align: middle;
	width: 500px;
}

/* Option checkboxes */
#scep-option-table input[type="checkbox"] {
	margin: 0;
}

/* Option table cell with input */
#scep-option-table .scep-cell-input {
	padding: 0 6px 4px;
}

/* Option inputs */
#scep-option-table input[type="text"] {
	text-align: right;
	width: 75px;
}

.scep-shortcode-name {
	width: 150px;
}

.scep-shortcode-description {
	width: 400px;
}

/* Code box dimensions */
#scep-option-width,
#scep-option-height {
	width: 50px;
}

.scep-message {
	color: #d63638;
	float: left;
	font-weight: bold;
}

.scep-explanation {
	display: block;
	font-size: 9px;
	font-style: italic;
	padding-bottom: 10px;
}

.scep-parameters {
	font-size: 9px;
}

/* Shortcode examples */
#scep-example-table {
	margin: 20px 0;
	width: auto;
}

#scep-example-table td {
	padding: 0 5px;
}

.scep-example-title {
	font-weight: bold;
}

.scep-example-explanation {
	font-family: monospace;
}

#scep-pro {
	border: 1px solid #000;
	display: inline-block;
	margin: 10px 0 20px;
	padding: 0 10px 10px;
}
